:root {
  --snake__color: blue;
  --food__color: red;
  --grid__color: green;
}

@import url("http://fonts.cdnfonts.com/css/common-pixel");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Common Pixel", sans-serif;
}

html,
body {
  height: 100%;
}

//Front face Html

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: black;

  .sub__container {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    .word__container {
      font-weight: 800;
      font-size: 3.8em;
      text-transform: uppercase;
      letter-spacing: 0.5em;
      overflow: hidden;

      .word {
        color: white;
        display: inline-block;
        line-height: 1em;
      }
    }
  }

  #img {
    margin-top: 30%;
    width: 500px;
    height: auto;
  }
}

.btn {
  margin-top: 20px;
  font-size: 17px;
  font-weight: bold;
  border: none;
  border-radius: 0.75em;
  background: white;

  .button_top {
    display: block;
    box-sizing: border-box;
    border: 2px solid white;
    border-radius: 0.75em;
    padding: 0.75em 1.5em;
    background: green;
    color: white;
    transform: translateY(-0.2em);
    transition: transform 0.1s ease;
  }
}
.btn:hover .button_top {
  /* Pull the button upwards when hovered */
  transform: translateY(-0.33em);
}

.btn:active .button_top {
  /* Push the button downwards when pressed */
  transform: translateY(10px);
}

//Game Page Html

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  color: white;
  background-color: black;

  .container__game {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .gamemode {
      display: flex;
      padding: 10px;

      .grid {
        background-color: white;
        color: black;
        text-align: center;
        margin-left: 10px;

        #align_item {
          justify-content: center;
        }
      }
    }
  }
}

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 2;
  cursor: pointer;

  .center {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    .gridContainer {
      background-color: var(--grid__color);
      display: inline-block;

      .row {
        display: inline-block;

        .gridItem {
          width: 20px;
          height: 20px;
          border: 1px solid rgb(255, 255, 255);
        }
      }
    }

    #snake {
      background-color: var(--snake__color);
      border: 1px solid black;
    }

    #food {
      background-color: var(--food__color);
      border: 1px solid black;
    }
  }
}
